/*CSS per la pagina index.php*/

/*Intestazione della pagina iniziale*/

header{
	height: 95px;
	margin-bottom: 10px;
	background-color: #1499D3;
	padding-bottom: 10px;
}

header h1{
	overflow: hidden;
	display: inline-block;
	float: left;
	width: 600px;
}

header h2{
	font-size: 20px;
	font-weight: lighter;
	clear: both;
}

a{
	text-decoration: none;
	color: #EFEFEF;
}

a:visited{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#headerWrapper{
	width: 1000px;
	height: inherit;
	margin: auto;
	background-color: inherit;
	color: white;
}

#siteName *{
	height: inherit;
	line-height: 60px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 40px;
	font-weight: bolder;
}

#siteName > a:hover{
	text-decoration: none;
}

#headerRight{
	width: auto;
	float: right;
	margin-top: 10px;
}

#search{
	width: 340px;
	display: inline-block;
	float: left;
	height: 40px;
	margin-right: 10px;
}

#searchInput{
	border:0px;
	background-color: white;
	opacity: 0.7;
}

#welcomeUser{
	height: 40px;
	width: 40px;
	float: right;
}

#welcomeUser > img{
	height: inherit;
	width: inherit;
	border-radius: 50%;
	cursor: pointer;
}

/*Sidebar di accesso e navigazione*/

#userNavigation{
	height: 100%;
	width: 0px;
	overflow: hidden;
	transition: .1s linear;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow:0 1px 2px #000;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	text-align: center;
	font-weight: bolder;
}

#userNavigation > *{
	color: white;
}

.userIntroduction{
	height: auto;
	padding: 5px;
	padding-bottom: 0px;
	color: black;
}

.goToJoin, .goToPanel{
	height: 40px;
	width: 230px;
	margin: 10px;
}

.goToJoin{
	background-color: #1565C0;
	border-bottom: 2px solid #0D47A1;
}

.goToPanel{
	background-color: #2E7D32;
	border-bottom: 2px solid #1B5E20;
}

.goToJoin:hover{
	background-color: #0D47A1;
	border-bottom: 2px solid #1565C0;
}

.goToPanel:hover{
	background-color: #1B5E20;
	border-bottom: 2px solid #2E7D32;
}

/*Il contenitore degli articoli. Vedere index/post.css per lo stile degli articoli.*/
#postflow{
	width:800px;
	float:right;
}

/*Categorie nella pagina iniziale*/

#categories{
	width:190px;
	float:left;
	background-color: transparent;
	margin-bottom: 10px;
	border-radius: 2px;
	display: block;
}

#categoryList{
	list-style: none;
	width: inherit;
	height: inherit;
	padding-bottom: 5px;
	overflow: hidden;
}

.categoryElement{
	height: 50px;
	width: inherit;
	display: block;
	padding: 10px;
	margin-bottom: 4px;
	background-color: yellow;
	border-radius: 2px;
	text-transform: uppercase;
}

.categoryElement > label{
	display: block;
	text-align: center;
	padding-top: 7px;
}